# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
VS2013/YoutubeExercise/YoutubeExercise/obj/Debug/MainWindow.baml
*.cache
VS2013/YoutubeExercise/YoutubeExercise/obj/Debug/App.g.cs
VS2013/YoutubeExercise/YoutubeExercise/obj/Debug/
